openapi: 3.0.0
info:
  title: Messaging API - Trigger
  version: 1.0.0
  description: Trigger email messages against a published campaign shell
servers:
  - url: https://api.moengage.com
paths:
  /v5/campaigns/{campaign_id}/send:
    post:
      summary: Trigger Message
      operationId: triggerMessage
      tags:
        - Trigger
      description: |
        Fire a message against a published `API_TRIGGERED` campaign shell.

        A `202 Accepted` response means the request was valid and enqueued. It confirms acceptance, not delivery. Dispatch happens asynchronously, and inbox delivery depends on your email provider.

        This API is in early access and supports Email only. Contact your Customer Success Manager to enable it for your workspace.

        #### Rate Limit

        The default rate limit is 5,000 requests per minute per workspace. The limit is counted per API request, not per recipient, so the effective send rate is the request rate multiplied by the number of recipients in each request.

        Over-limit requests are rejected with `429` and are never queued. To raise the limit, contact your Customer Success Manager.
      parameters:
        - name: campaign_id
          in: path
          required: true
          schema:
            type: string
          description: Published API_TRIGGERED shell ID
          example: camp_665f0a
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
          description: Unique request key for idempotent retries
          example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - identifier_type
                - recipients
              properties:
                identifier_type:
                  type: string
                  enum: [ID, MOENGAGE_ID, MULTI_ID]
                  description: Type of recipient identifier
                recipients:
                  type: array
                  minItems: 1
                  maxItems: 1000
                  items:
                    type: string
                  description: Flat list of recipient identifiers; all must match identifier_type
                  example: ["customer@example.com", "another@example.com"]
                locale_name:
                  type: string
                  description: Optional locale variant for shell rendering
                  example: en_US
                personalized_attributes:
                  type: object
                  description: Key-value pairs for placeholder resolution. Can contain fully resolved values or tokens.
                  additionalProperties:
                    oneOf:
                      - type: string
                      - type: number
                  example:
                    first_name: Alice
                    order_id: ORD-12345
                    order_total: "99.99"
      responses:
        "202":
          description: Accepted and enqueued for async dispatch
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per minute
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Remaining requests this minute
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Seconds until rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  response_id:
                    type: string
                  type:
                    type: string
                  data:
                    type: object
                    required:
                      - msg_id
                      - campaign_id
                      - accepted
                      - recipient_count
                    properties:
                      msg_id:
                        type: string
                        description: Message instance ID for tracking
                      campaign_id:
                        type: string
                      accepted:
                        type: boolean
                      recipient_count:
                        type: integer
              example:
                response_id: resp_9b1e77a2
                type: message
                data:
                  msg_id: msg_7f3c9a
                  campaign_id: camp_665f0a
                  accepted: true
                  recipient_count: 2

        "200":
          description: Idempotency replay (same key + body replayed within retention window)
          content:
            application/json:
              schema:
                type: object
                properties:
                  response_id:
                    type: string
                  data:
                    type: object
                    properties:
                      msg_id:
                        type: string
                      campaign_id:
                        type: string
                      accepted:
                        type: boolean

        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum: [VALIDATION_FAILED]
                      message:
                        type: string
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            target:
                              type: string
                            message:
                              type: string
                  response_id:
                    type: string
              example:
                error:
                  code: VALIDATION_FAILED
                  message: Request validation failed
                  details:
                    - target: recipients
                      message: recipients must not be empty

        "404":
          description: Shell not found or not triggerable
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum: [NOT_FOUND]
                      message:
                        type: string

        "409":
          description: Idempotency key reused with different body
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum: [CONFLICT]
                      message:
                        type: string

        "413":
          description: Payload exceeds maximum size
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum: [PAYLOAD_TOO_LARGE]
                      message:
                        type: string

        "422":
          description: Unprocessable entity (recipient limit exceeded, unknown placeholder, etc.)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum: [RECIPIENT_LIMIT_EXCEEDED, UNKNOWN_PLACEHOLDER, UNKNOWN_LOCALE, CAMPAIGN_NOT_TRIGGERABLE]
                      message:
                        type: string
                      details:
                        type: array
                        items:
                          type: object

        "429":
          description: Rate limit exceeded
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
            X-RateLimit-Remaining:
              schema:
                type: integer
            X-RateLimit-Reset:
              schema:
                type: integer
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before retrying
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        enum: [RATE_LIMITED]
                      message:
                        type: string
                  retry_after:
                    type: integer

        "500":
          description: Server error; safe to retry with same Idempotency-Key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    apiKey:
      type: apiKey
      in: header
      name: X-MOE-Tenant-ID

security:
  - bearerAuth: []
  - apiKey: []
